ref_models/reference_models/EGNO/mlruns/
ref_models/reference_models/EGNO/exp_results
ref_models/reference_models/EGNO/model/__pycache__/
ref_models/reference_models/graph-neural-operator/__pycache__/
ref_models/reference_models/graph-neural-operator/model_epoch_*
ref_models/flow_training/*.pth
ref_models/flow_training/*.npy
ref_models/flow_training/__pycache__/*
ref_models/flow_training/model/__pycache__/*
ref_models/flow_training/Post_Proc_Data/
ref_models/membrane_training/*.pth
ref_models/membrane_training/*.npy
ref_models/membrane_training/__pycache__/*
ref_models/membrane_training/model/__pycache__/*
ref_models/membrane_training/Post_Proc_Data/
ref_models/coupled_training_type1/*.pth
ref_models/coupled_training_type1/*.npy
ref_models/coupled_training_type1/__pycache__/*
ref_models/coupled_training_type1/model/__pycache__/*
ref_models/coupled_training_type1/Post_Proc_Data/
/logs/*.pth
/utils/*.pth
/coupled_training/__pycache__/*
/src/model/__pycache__/*
/src/dataloader/__pycache__/*
/Post_Proc_Data/*
/src/preprocessing/__pycache__/*
/coupled_training/data_train_cache.pt
/__pycache__/
/logs/*