/1e6/
/EGNO/mlruns/
/EGNO/exp_results
/EGNO/model/__pycache__/
/graph-neural-operator/__pycache__/
/graph-neural-operator/model_epoch_*
*.pth
*.npy
/sample_data/
/__pycache__/*
/model/__pycache__/*
/Post_Proc_Data/