/sample_data/
/reference_models/EGNO/mlruns/
/reference_models/EGNO/exp_results
/reference_models/EGNO/model/__pycache__/
/reference_models/graph-neural-operator/__pycache__/
/reference_models/graph-neural-operator/model_epoch_*
/flow_training/*.pth
/flow_training/*.npy
/flow_training/__pycache__/*
/flow_training/model/__pycache__/*
/flow_training/Post_Proc_Data/
/membrane_training/*.pth
/membrane_training/*.npy
/membrane_training/__pycache__/*
/membrane_training/model/__pycache__/*
/membrane_training/Post_Proc_Data/
/coupled_training_type1/*.pth
/coupled_training_type1/*.npy
/coupled_training_type1/__pycache__/*
/coupled_training_type1/model/__pycache__/*
/coupled_training_type1/Post_Proc_Data/
/coupled_training/*.pth
/coupled_training/*.npy
/coupled_training/__pycache__/*
/coupled_training/model/__pycache__/*
/coupled_training/Post_Proc_Data/
/__pycache__/